[submodule "lib/underscore"]
	path = lib/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/douglascrockford/JSON-js.git
